@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root {
    --VeryDarkMagenta: hsl(300, 43%, 22%);
    --SoftPink: hsl(333, 80%, 67%);
    --DarkGrayishMagenta: hsl(303, 10%, 53%);
    --LightGrayishMagenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
    --verysoftpink: hsl(300, 19%, 81%)
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    background-image: url(./images/bg-pattern-top-mobile.svg), url(./images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    overflow-y: visible;

}

.main-container {
    /* width: 23.4375rem; */
    margin: 5rem auto .9375rem;
    display: flex;
    flex-direction: column;
}

/*------------------- 1° Sección-------------------- */
.description-container {
    text-align: center;
    margin-bottom: 1.875rem;
}

.description-title {
    color: var(--VeryDarkMagenta);
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.875rem;
    margin: 0 4rem 1.875rem 4rem;
}

.description-paragraph {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .0437rem;
    line-height: 1.5625rem;
    margin: 0 1.375rem;
    color: var(--DarkGrayishMagenta);
}

/*------------------- 2° Sección-------------------- */
.rating-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.rating {
    background: var(--verysoftpink);
    margin: .5rem 0;
    width: 20.625rem;
    height: 5rem;
    padding: .9375rem;
    font-weight: 700;
    color: var(--VeryDarkMagenta);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.five-stars {
    min-width: 6.875rem;
}

.rater {
    min-width: 15rem;
    text-align: center;
}

/*------------------- 3° Sección-------------------- */

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    display: grid;
    grid-template-columns: 1fr 10fr;
    background: var(--VeryDarkMagenta);
    border-radius: .625rem;
    max-width: 20.625rem;
    height: 15.625rem;
    padding: 2.3125rem;
    margin: 1rem 1.5rem;
    font-size: .75rem;
    color: var(--White);
}

.user-image {
    border-radius: 50%;
    width: 3.125rem;
    margin-right: 1.25rem;
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/3;
}

.user-name {
    font-weight: 700;
    grid-column: 2/3;
    color: var(--verysoftpink);
}

.status {
    grid-column: 2/3;
    color: var(--SoftPink);
}

.coment {
    font-weight: 500;
    grid-column: 1/3;
    line-height: 1.25rem;
    margin-top: 1.875rem;
    color: var(--verysoftpink);
}


/*------------------- Footer-------------------- */
.attribution {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: .8125rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/*-------------Responsive Design (376px-tablet)----------- */

@media (min-width: 23.5rem) {
    body {
        background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
        background-size: 25rem;
        
    }
    
    .rating-container {
        padding: 0 .875rem;
    }

    .rt-1 {
        align-self: flex-start;
    }

    .rt-3 {
        align-self: flex-end;
    }

    .card-container {
        padding: 0 .875rem;
    }

    .c1 {
        align-self: flex-start;
    }

    .c3 {
        align-self: flex-end;
    }
}

/*-------------Responsive Design (desktop)--------------- */
@media (min-width: 48rem) {
    .rating {
        flex-direction: row;
        width: 27.75rem;
        height: 3.125rem;
        justify-content: center;
    }

    .card-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .c1 {
        grid-column: 1/2;
        grid-row: 1/2;
        justify-self: center;
    }

    .c2 {
        grid-column: 2/3;
        grid-row: 1/2;
        justify-self: center;
    }

    .c3 {
        grid-column: 1/3;
        grid-row: 2/3;
        justify-self: center;
    }
}

/*-------------Responsive Design (894px)--------------- */

@media (min-width: 55.875rem) {
    .main-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        row-gap: 1.5625rem;
    }

    .description-container {
        grid-column: 1/6;
    }

    .rating-container {
        grid-column: 6/-1;
    }

    .card-container {
        grid-column: 1/-1;
    }
}

/*-------------Responsive Design (1160px)--------------- */

@media (min-width:72.5rem) {
    body {
        background-size: 36.25rem;
        overflow-y: hidden;
    }

    .main-container {
        margin: 7.8125rem aito;
        max-width: 69.375rem;
    }

    .card-container {
        display: flex;
        flex-direction: row;
        padding: 0;
        height: 20rem;
        justify-content: space-between;
        margin: 0;
    }

    .card {
        margin: 0;
    }
}

/*-----------Responsive Design (1440px-Desktop)---------- */

@media (min-width:90rem) {
    body {
        overflow-y: hidden;
    }
    .description-container {
        max-width: 26.875rem;
        margin: 0;
        padding: 0 1.25rem;
        text-align: left;
    }

    .description-title {
        font-size: 2.8125rem;
        margin: 0;
        line-height: 2.8125rem;
    }

    .description-paragraph {
        margin: .9375rem 0 1.875rem;
    }

    .rating-container {
        padding: 0;
        grid-column: 7/-1;
    }
}
